name: Build

on: [push]

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - uses: actions/setup-python@v4
      with:
        python-version: '3.9'
        
    - name: Install packages
      run: pip install numpy librosa pydub onnxruntime soundfile nuitka
      
    - name: Install FFmpeg  
      run: choco install ffmpeg -y
      
    - name: Compile
      run: python -m nuitka --standalone --onefile audio_processor.py
      
    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: app
        path: audio_processor.exe
